*{
  box-sizing: border-box;
}


@font-face {
  font-family: "PerryGothic";
  src: url("../Fonts/PERRYGOT.TTF");
}


body {
  background: url("../Images/crystalcave.jpg");
  background-size: cover;
}


#openText {
  color: aliceblue;
  font-size: 20px;
  font-family: "PerryGothic", cursive;
  line-height: 30px;
  margin: 10px 20px;
}


#targetNum,
#userNum,
#totalWins,
#totalLosses,
#gameResult {
  margin: 50px;
  font-size: 30px;
  font-family: "PerryGothic", cursive;
  color: aliceblue;
  font-weight: bold;
  padding: 15px;
  border: 1px solid aliceblue;
  width: 400px;
}


#totalWins,
#totalLosses {
  margin-top: 10px;
  float: left;
}

#gameResult {
  border: none;
}


#crystals {
  display: flex;
  width: 800px;
}


.crystal {
  height: 150px;
  width: 150px;
  margin-left: 40px;
  }

  /* Pulse animation */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}